# Your 10-character Apple Developer Team ID
# Found at: https://developer.apple.com/account or in Xcode Accounts
TEAM_ID="XXXXXXXXXX"

# The 40-character SHA-1 hash of your "Developer ID Application" certificate
# Find it by running: security find-identity -v -p codesigning
DEVELOPER_ID_CERT_HASH="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

# The name of the keychain profile you created for notarytool
# E.g., if you ran: xcrun notarytool store-credentials "DeveloperProfile" ...
# Then this should be "DeveloperProfile"
NOTARYTOOL_KEYCHAIN_PROFILE="DeveloperProfile"
